
@model IEnumerable<VimaruAsset.Models.AssetsViewModel>
<div class="table-responsive">
    <table id="reduction" class="table table-striped table-bordered nowrap mt-2 table-data">
        <thead>
            <tr>
                <th>STT</th>
                <th style="width: 6%" class="text-center"><input type="checkbox" id="checkall"/></th>
                <th style="width: 16%" class="text-primary">Ngày thêm</th>
                <th style="width: 15%" class="text-primary">Tên tài sản</th>
                <th style="width: 12%" class="text-primary">Mã tài sản</th>
                <th style="width: 12%" class="text-primary">Đặt tại</th>
                <th style="width: 15%" class="text-primary">Tổng nguyên giá</th>
                <th style="width: 15%" class="text-primary">Tình trạng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item != null)
                {
            <tr>
                <td></td>
                <td class="text-center"><input type="checkbox" class="checkitem" id="@item.Asset.Id"  /></td>
                <td class="font-weight-bold text-wrap">@item.Asset.DateUpdate.ToString("dd/MM/yyyy HH:mm")</td>
                <td class="font-weight-bold text-wrap">@item.Asset.Name</td>
                <td class="font-weight-bold">@item.Asset.Code   </td>
                <td class="font-weight-bold">
                    <span>@item.Asset.Address</span>
                </td>
                <td class="font-weight-bold">
                    @item.Asset.Price.ToString("##,##0") VNĐ
                </td>
                <td class="font-weight-bold">
                    @if (item.Asset.Status == Assets.Statuses.GOOD)
                    {<span class="text-primary">TỐT</span>}
                    else if (item.Asset.Status == Assets.Statuses.BAD)
                    {<span class="text-danger">HỎNG</span>}
                    else if (item.Asset.Status == Assets.Statuses.MAINTENANCE)
                    {<span class="text-warning">BẢO TRÌ</span>}
                    else if (item.Asset.Status == Assets.Statuses.RENT)
                    {<span class="text-success">CHO THUÊ</span>}
                </td>
            </tr>
                }
            }

        </tbody>
    </table>

</div>
<script>

</script>